/* Lingyin Li */

@font-face {
    font-family: 'Reemkufi';
    src: url('./fonts/Reem_Kufi/static/Reemkufi-Medium.ttf') format('truetype');
}

body{
    font-family: 'Reemkufi';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}